{% extends 'admin/master.html' %}

{% block body %}
    <h2>Welcome home <a href="/">tododesk</a> admin.</h2>
  <p>Hello? Go to <a href="/admin/task">tasks</a> to edit or delete tasks.</p>
{% endblock %}