{% extends "admin/model/list.html" %}

{% macro render_status(model, column) %}
    {% if model.status == "to-do" %}
        <span class="glyphicon glyphicon-ice-lolly"></span>
    {% elif model.status == 'in-progress' %}
        <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
    {% else %}
        <span class="glyphicon glyphicon-ok"></span>
    {% endif %}
{% endmacro %}

{% macro render_computation_status(model, column) %}
    <p class="magicStatus" data-pk="{{ get_pk_value(model) }}">{{ model.magic_computation_status }}</p>
{% endmacro %}

{% macro render_magic_result(model, column) %}
    {% if model.magic_result %}
        <p class="magicResult" data-pk="{{ get_pk_value(model) }}">{{ model.magic_result }}</p>
    {% else %}
        <p class="magicResult" data-pk="{{ get_pk_value(model) }}"></p>
    {% endif %}
{% endmacro %}

{% macro render_magic_button(model, column) %}
    <button class="makeMagic" data-pk="{{ get_pk_value(model) }}" type="submit" value="Magic">Make Magic</button>
{% endmacro %}

{% block tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    {% include "ajax.html" %}
{% endblock %}