html, body {
    /*height: 100%;*/
}

body {
    color: #81829a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

textarea {
    resize: none;
    overflow-y: scroll;
}

.fluid-y {
    height: 80vh;
    overflow-y: auto;
}

.content {
    padding-top: 100px;
}

/*Navbar*/

.nav > li > a {
    padding: 15px 24px;
}

.navbar-fixed-top {
    border-top: 1px black;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
}

.btn-primary {
    background-color: #81829a;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    margin-left: 15px;
    padding: 6px 20px;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: lightgray;
    border: none;
}

/**/

.task {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 0px 20px 20px;
    height: 100px;
    max-height: 100px;
    overflow-y: auto;
    padding: 5px;
}

.task:hover {
    cursor: pointer;
}

.ui-state-highlight {
    background-color: lightgray;
    border: 1px solid white;
    border-radius: 4px;
    margin: 20px;
    height: 100px;
    max-height: 100px;
}

.title {
    padding: 2px 20px;
}
