{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="row content">
        {% for status in statuses %}
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">{{ status[1] }}</h4>
                    </div>
                </div>
                <div id={{ status[0] }} class="row">
                    <div class="col-md-12 fluid-y sortable">

                        {% for task in tasks(status=status[0]) %}
                            <div class="row task" id={{ task.id }} data-toggle="modal" data-target="#taskModal">
                                <div class="col-md-12">
                                    <h4>{{ task.title }}</h4>
                                    <p>{{ task.description }}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div> <!-- /container -->
{% include "modal.html" %}
{% endblock %}
