<!-- Modal -->
<div id="taskModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

                <form id="taskForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputTitle">{{ form.title.label }}</label>
                        <div class="col-sm-10">
                            {{ form.title(class="form-control", id="inputTitle", placeholder="Title", required="true", pattern=".*[^ ].*", title="At least one non-whitespace character") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputDescription">{{ form.description.label }}</label>
                        <div class="col-sm-10">
                            {{ form.description(class="form-control", id="inputDescription", rows="5", placeholder="Description") }}
                        </div>
                    </div>
                    {{ form.hidden_tag() }}
                    <div class="modal-footer">
                        <span hidden="hidden" id="deleteTask" role="button" title="Delete" class="btn glyphicon glyphicon-trash" aria-hidden="true"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="saveTask" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>de
    </div>
</div>